

.demo-header {
    min-height: 32px;
    height: 44px;
}

.demo-header .demo-header-brand {
    margin-top: 10px; 
}

/*--版本信息-------------------------------------------------------------*/
.version-info {
    border: 0;
    bottom: 2px;
    margin-top: 7px; 
    line-height: 5px;
    padding-left: 1px;
    padding-bottom: 1px;
    z-index: 999;
    cursor: pointer;
}

